/* Estilos para la foto en el encabezado */
header {
  text-align: center;
}

/* Derechos del autor */
footer {
  text-align: right;
}

/* Ajustes para la imagen en el encabezado */
header img {
  margin-top: 20px; /* Ajusta según sea necesario */
}

/* Estilos para el menú de navegación */
nav {
  text-align: center;
  margin-top: 20px; /* Ajusta según sea necesario */
}

/* Configuración del menú de navegación */
nav ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

/* Estilos para cada elemento del menú */
nav ul li {
  margin-right: 60px;
}

/* Estilos para los enlaces del menú */
nav ul li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* Efecto de cambio de color al pasar el ratón por encima */
nav ul li:hover {
  background: red;
  border-radius: 20px; /* Redondeo en hover */
}

/* Estilos generales para tablas */
h1, p {
  font-family: sans-serif;
  width: 400px;
  margin: 35px auto;
  text-align: center;
}

/* Ajustes específicos para párrafos */
p {
  width: 500px;
}




/* Estilos para tablas */
table {
  width: 500px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

/* Efecto de cambio de color al pasar el ratón por encima de filas impares */
table tr:nth-child(odd) {
  background-color: black;
}

/* Efecto de cambio de color al pasar el ratón por encima de filas impares */
table tr:nth-child(odd):hover {
  color: white;
  background-color: rgb(255, 122, 122);
}

/* Estilos para filas pares */
table tr:nth-child(even) {
  background-color: black;
}

/* Efecto de cambio de color al pasar el ratón por encima de filas pares */
table tr:nth-child(even):hover {
  color: white;
  background-color: rgb(255, 122, 122);
}




  /* Estilos CSS para los menús desplegables */
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}